#flights-root{
  background-color: gainsboro;
}

#flights {
  background-color: lightgray;
}

.flight {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 18pt;
  height: 40px;
  border-bottom: 1.5px solid black;
}


#table-name {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 18pt;
  height: 50px;
  background-color: rgb(0, 0, 110);
  color: white;
  padding-top: 10px;
}


#table-name .airlines-column{
  width: 200px;
  box-sizing: border-box;
}

#table-name .flightnumber-column{
  width: 105px;
  box-sizing: border-box;
}

#table-name .departure-column{
  width: 110px;
  box-sizing: border-box;
}

#table-name .arrival-column{
  width: 70px;
  box-sizing: border-box;
}

#table-name .delete-operation{
  width: 20px;
  box-sizing: border-box;
}

.flight >.airlines{
    width: 200px;
    box-sizing: border-box;
}

.flight >.flightnumber{
    width: 105px;
    box-sizing: border-box;
    text-align: center;
}

.flight >.origin{
  width: 110px;
  box-sizing: border-box;
  text-align: center;
}

.flight >.destination{
  width: 70px;
  box-sizing: border-box;
  text-align: center;
  display: block;
}

#add{
  display: flex;
  justify-content: center;
  height: 40px;
}

#add > button{
  height: 35px;
  width: 200px;
  font-size: 16pt;
  box-sizing: border-box;
  margin-top: 2px;
}

.delete-button{
  width: 20px;
  box-sizing: border-box;
  color: red;
}
.delete-button:hover{
  cursor: pointer;
  transform: scale(1.5);
}

.edit{
  width: 50px;
  box-sizing: border-box;
  text-align: center;
}

.edit > button{
  cursor: pointer;
  font-size: 14pt;
}

.save > button{
  cursor: pointer;
  font-size: 14pt;
}

.cancel > button{
  cursor: pointer;
  font-size: 14pt;
}

.airlines > input{
  width: 100px;
  box-sizing: border-box;
}

.flightnumber > input{
  width: 80px;
  box-sizing: border-box;
}

.origin > input{
  width: 100px;
  box-sizing: border-box;
  margin-left: 25px;
}

.destination > input{
  margin-left: 35px;
  width: 50px;
  box-sizing: border-box;
}